<title> Bus Tracker</title>

<link rel='stylesheet' href='/static/style.css' />

<center>
<h2>Bus Tracker</h2>

<table>
	<tr>
	<th>
		Name
		
	</th>
	<th>
	Status
	</th>
	</tr>
	{% for bus in buses %}
	<tr>
	<td style="width: 500px;" >
	{{bus.busName}}
	</td>
	
	
	<td>
	<input type="button" id="{{bus.busName}}" onclick="changeStatus(this.id)" value={{bus.busStatus}}></input>
	</td>
	</tr>
	{% endfor %}
</table>
 </center>

 
 <script 
 src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
        
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
<script type="text/javascript" charset="utf-8"></script>
<script src="{{ url_for('static', filename='client.js') }}"></script>